#snb li.cart a{ background-image:url("../img/cart_bg.png"); }

p select { border-width:1px; border-style:solid; border-color: #eaeaea; 
			padding-left:0; margin-left:15px; background-color:white; 
			background-image:url("../img/arrow.png"); background-repeat:no-repeat; background-position:95% 50%;
			 -webkit-appearance: none;
			 -moz-appearance: none;
			 appearance:none;}
.shop .sale { background-image:url("../img/sale_bg.png");}
.shop.square .addtocart  { background-image: url("../img/addtocart.png");}
.shop.square .albumArt { padding:3px 0 0 3px; text-align:center; width:230px; height:230px; line-height: 230px; margin:0;}
.shop.square .albumArt  img{ width:227px; height:227px; margin-top:3px;}
.fcont.f4 input {  filter:alpha(opacity=75); }